<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<title>Document></title>

</head>
<body>
	<h1>{{ fullName }} </h1>
	<input type="text" v-model="first" placeholder="First Name">
	<input type="text" v-model="last" placeholder="Last Name">
	

<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>

<script>
	new Vue({
		el: 'body',
		data: {
			first: 'John',
			last: 'Doe',
			fullName: 'John Doe'
		},

		computed: {
			fullName: function() {
				return this.first + ' ' + this.last;
			}
		}
	});

</script>


</body>
</html>